
$font: sans-serif;

@mixin md-theme-steampunk {
  background: #fdf6e3;
  font-size: 1em;
  line-height: 1.65em;
  font-family: $font;
  font-weight: 300;
  color: #586e75;
  
  p, hr, h4, h5, h6 {
    margin-top: 0.9em;
    margin-bottom: 0.9em;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    font-weight: 400 !important;
    a {
      font-weight: 400 !important;
    }
  }
  article {
    border-bottom: 0.1em #eee8d5 solid;
    padding-bottom: 1.7em;
    max-width: 56em; }
    h1 {
      font-size: 2.5em;
      line-height: 1.1em;
      margin-top: 0.6em;
      margin-bottom: 0.6em;
    }
    h2 {
      font-size: 1.9em;
      line-height: 1.2em;
      margin-top: 2.6em;
      margin-bottom: 0.7em;
    }
    h3 {
      font-size: 1.4em;
      line-height: 1.3em;
      margin-top: 1.7em;
      margin-bottom: 0.4em;
    }
    h4 {
      font-size: 1.3em;
    }
    h5 {
      font-size: 1.2em;
    }
    h6 {
      font-size: 1.1em;
    }
    a {
      font-weight: 700;
      text-decoration: none;
      color: #268bd2;
    }
    a:hover {
      text-decoration: underline;
    }
    strong,b {
      font-weight: 700;
    }
    blockquote {
      border-left: 0.4em solid #b4b0a1;
      background-color: #eee8d5;
      padding-left: 1.2em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-right: 1.2em;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      font-size: 1.1em;
      :last-child {
        margin-bottom: 0;
      }
      :first-child {
        margin-top: 0;
      }
    }
    img, iframe {
      max-width: 100%;
    }
    hr {
      border: 0;
      height: 1px;
      background: #eee8d5;
    }
    ol {
      counter-reset: a;
    }
    ol li {
      list-style: none;
    }
    ol li::before {
      padding-right: 8px;
      font-family: Consolas,Lucida Console,Menlo,Monaco,monospace;
      font-size: 0.9em;
      counter-increment: a;
      content: counter(a) ".";
    }
    ul {
      list-style: disc;
      margin-left: 1.2em;
    }
    li p {
      margin-bottom: 0;
      margin-top: 0;
    }
    code {
      font-family: monospace;
      font-size: 1.1em;
    }
    :not(pre) > code {
      border-radius: 0.3em;
      white-space: normal;
      font-family: monospace;
      font-size: 1.2em;
      // background-color: rgb(228, 250, 203);
      background-color: #ffe481;
      color: #444444;
      padding: 2px 5px;
    }
    pre {
      padding: 1em;
      font-size: 1em;
      line-height: 1em;
      margin: 1em 0;
      overflow-x: auto;
      color: #d0e6e6;
      background-color: #002b36;
    }
    input {
      font-size: 1em;
      padding: 0.3em;
    }
    em {
      font-style: italic;
    }
    table {
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      border: 3px solid #586e75;
    }
    td,th {
      border: 1px solid #586e75;
      padding: 5px 20px;
    }
    th {
      color: white;
      background-color: #75929b;
    }
    tbody tr:nth-child(odd) {
      background-color: #d3dfe2;
    }
    tbody tr:nth-child(even) {
      background-color: #b7c1c4;
    }
  }