* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --color-pink: #AE4951;
  --color-chameisee: #B98D72;
  --color-wineberry: #57233A;
  --color-black: #161B1F;
}


.app {
  margin: auto;
}

.main {
  width: 90vw;
  height: 100vh !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.addressbar {
  outline: none;
  margin: 10px auto;
  padding: 5px;
  width: 60%;
  border: none;
  border-radius: 5px;
}

.carousel {
  margin-left: auto;
  margin-right: auto;
}

.image {
  height: 90vh !important;
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
  /* 
  
  max-height: 100px;
  max-width: 100px;
  object-fit: cover; */
}

.slide-animation {
  transition: none;
}

.control-group {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carousel__dot-group {
  /* width: 100%; */
  display: inline-flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.carousel__dot {
  border-radius: 5px;
  height: 5px;
  width: 5px;
  margin: 2px;
  background-color: white;
  border: none;
  outline: none;
  /* background-color: var(--color-chameisee); */
}
.carousel__dot--selected {
  background-color: var(--color-chameisee);
}

.btn-back {
  border-radius: 200px;
  border: none;
  /* margin-top: 6px; */
  padding: 0 4px;
  margin-right: 3px;
  outline: none;
}
.btn-next {
  border-radius: 200px;
  border: none;
  /* margin-top: 5px; */
  padding: 0 4px;
  margin-left: 3px;
  outline: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
