@import '../../../styles/theme.scss';

.file-detail-pane {
  width: 100%;
  height: 100%;
  .thumb {
    height: calc(100vh - #{$topbarHeight});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}