@import '../../../styles/theme.scss';

.plain-text-editor {
  @include themed('background-color', 'background');
  @include themed('color', 'color');
  @include themed('background-image', 'textEditorBGImg');
  background-size: 100% 30px;
  height: 100%;
  width: 100%;
  padding: 2px 10px;
  padding-left: 100px;
  font-family: "Roboto Mono No Space", "PingFang SC", Tahoma, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑" , SimSun, "宋体", Heiti, "黑体", sans-serif;
  line-height: 30px;
  outline: none;
  overflow-y: auto;
}