@import '../../../styles/theme.scss';

.file-context-menu {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  @include themedMixin('contextMenu');
  &.hide {
    display: none;
  }
  > li {
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px 10px;
    &:hover {
      @include themed('background', 'selectedBackground');
      @include themed('color', 'selectedTextColor');
      .icon {
        @include themed('fill', 'selectedTextColor');
      }
    }
    .icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }
}