@import '../../../styles/theme.scss';

.files-layout-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  .slide {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .btn {
      outline: none;
      background-color: transparent;
      border: none;
      padding: 0;
      display: flex;
      align-items: center;
      .icon {
        width: 50px;
        height: 50px;
      }
    }
    .frame {
      position: relative;
      .overlay-left {
        position: absolute;
        background-color: transparent;
        width: 30%;
        height: 100%;
        top: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        .icon {
          width: 50px;
          height: 50px;
          @include themed('fill', 'colorWhite');
          display: none;
        }
        &:hover {
          .icon {
            display: initial;
          }
        }
      }
      .overlay-right {
        position: absolute;
        background-color: transparent;
        width: 30%;
        height: 100%;
        top: 0;
        right: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .icon {
          width: 50px;
          height: 50px;
          @include themed('fill', 'colorWhite');
          display: none;
        }
        &:hover {
          .icon {
            display: initial;
          }
        }
      }
    }
    .thumb {
      display: flex;
      flex-direction: column;
      align-items: center;
      > .file-name {
        padding-top: 15px;
        text-align: center;
        @include themed('background', 'filenameBackground');
        @include themed('box-shadow', 'shadowSmall');
        padding: 3px 15px;
        margin-top: 8px;
        border-radius: 100px;
      }
    }
    
    .plain-text-preview {
      width: 60vh;
      height: 80vh;
      font-size: 1vh;
      @include themed('background', 'plaintextBackground');
      @include themed('box-shadow', 'gallerySlideShadow');
      padding: 40px;
      overflow: hidden;
    }
  }
  .folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    .folder-content {
      padding: 15px 10px;
      max-height: calc(100vh - 200px);
      max-width: calc(100vw - 200px);
      min-height: 100px;
      min-width: 150px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: center;
      overflow: auto;
      .grid-item {
        padding: 5px 5px;
        margin: 5px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.selected {
          background-color: var(--color-chameisee);
          border-radius: 10px;
        }
        .svg-icon {
          height: 40px;
          width: 35px;
        }
        > .file-name {
          font-size: 10px;
          width: 60px;
          margin-top: 8px;
          overflow: hidden;
          text-align: center;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    > .file-name {
      padding-top: 10px;
      display: flex;
      align-items: center;
      > .icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }
  }
  .bottom-bar {
    bottom: 2px;
    @include themed('background', 'dimBackground');
    @include themed('border-top', 'dimBorder');
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .dot-group {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .dot {
        border-radius: 5px;
        height: 5px;
        width: 5px;
        margin: 2px;
        background-color: white;
        border: black 1px solid;
        outline: none;
        &.selected {
          background-color: var(--color-chameisee);
        }
      }
    }
  }
}
