.files-layout-gallery {
  .slide {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: calc(100vh - 80px);
    .btn {
      outline: none;
      background-color: transparent;
      border: none;
      padding: 0;
      display: flex;
      align-items: center;
      .icon {
        width: 50px;
        height: 50px;
      }
    }
    .thumb {
      display: flex;
      flex-direction: column;
      align-items: center;
      > .file-name {
        padding-top: 10px;
        text-align: center;
      }
    }
    .overlay-left {
      position: absolute;
      background-color: transparent;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
    }
    .overlay-right {
      position: absolute;
      background-color: transparent;
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }
  .folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    .folder-content {
      border: 5px solid white;
      border-radius: 15px;
      background-color: #37444d;
      padding: 15px 10px;
      max-height: calc(100vh - 200px);
      max-width: calc(100vw - 200px);
      min-height: 100px;
      min-width: 150px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: center;
      overflow: auto;
      .grid-item {
        padding: 5px 5px;
        margin: 5px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.selected {
          background-color: var(--color-chameisee);
          border-radius: 10px;
        }
        .svg-icon {
          height: 40px;
          width: 35px;
        }
        > .file-name {
          font-size: 10px;
          width: 60px;
          margin-top: 8px;
          overflow: hidden;
          text-align: center;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    > .file-name {
      padding-top: 10px;
      display: flex;
      align-items: center;
      > .icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }
  }
  .bottom-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    .dot-group {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .dot {
        border-radius: 5px;
        height: 5px;
        width: 5px;
        margin: 2px;
        background-color: white;
        border: none;
        outline: none;
        &.selected {
          background-color: var(--color-chameisee);
        }
      }
    }
  }
}
