@import '../../../styles/theme.scss';
@import './theme/greenville';
@import './theme/paper';
@import './theme/steampunk';
@import './theme/github';

.markdown-editor {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .main-area {
    height: 100%;
    width: 100%;
    position: relative;
    .edit-area {
      @include themedMixin('markdownEditor');
      padding: 20px 30px;
      position: absolute;
      width: 50%;
      height: 100%;
      left: 0;
      overflow-y: auto;
      overflow-x: hidden;
      outline: none;
      hyphens: none;
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      display: inline;
      font-family: "Ubuntu Mono", "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      line-height: 1.8;
      orphans: 4;
      tab-size: 4;
      white-space: pre-wrap;
      word-break: normal;
      word-wrap: break-word;
      &.edit {
        width: 100%;
        border-right: none;
        padding: 0 calc((100% - 800px) / 2);
      }
      &.preview {
        display: none;
      }
    }
    .preview-area {
      padding: 20px 30px;
      position: absolute;
      width: 50%;
      height: 100%;
      right: 0;
      overflow-y: auto;
      overflow-x: hidden;
      &.edit {
        display: none;
      }
      &.preview {
        width: 100%;
        padding: 0 calc((100% - 800px) / 2);
      }
      &.theme-greenville {
        @include md-theme-greenville;
      }
      &.theme-paper {
        @include md-theme-paper;
      }
      &.theme-github {
        @include md-theme-github;
      }
      &.theme-steampunk {
        @include md-theme-github;
      }
    }
  }
  
}