@import './theme/greenville';
@import './theme/paper';
@import './theme/steampunk';
@import './theme/github';

.markdown-editor {
  background-color: white;
  height: calc(100vh - 100px);
  width: calc(100vw - 100px);
  display: flex;
  flex-direction: column;
  .title-bar {
    // height: 30px;
    padding: 0 10px;
    background-color: #586e75;
    display: flex;
    align-items: center;
    .file-name {
      display: block;
      color: white;
      text-align: center;
      margin-right: auto;
      flex-grow: 1;
    }
    .menu-group {
      display: flex;
      align-items: center;
      .save {
        margin-right: 8px;
      }
      .toggle-preview {
        .icon {
          width: 20px;
          height: 20px;
          padding: 2px;
        }
      }
      .select-theme {
        outline: none;
        display: block;
      }
    }
  }
  .main-area {
    height: 100%;
    width: 100%;
    position: relative;
    .edit-area {
      padding: 20px;
      position: absolute;
      width: 50%;
      height: 100%;
      left: 0;
      overflow-y: auto;
      overflow-x: hidden;
      outline: none;
      hyphens: none;
      white-space: pre-wrap;
      font-family: 'Andale Mono';
      border-right: 1px dashed #586e75;
      &.wide {
        width: 100%;
      }
    }
    .preview-area {
      padding: 10px;
      position: absolute;
      width: 50%;
      height: 100%;
      right: 0;
      overflow-y: auto;
      overflow-x: hidden;
      &.hide {
        display: none;
      }
      &.theme-greenville {
        @include md-theme-greenville;
      }
      &.theme-paper {
        @include md-theme-paper;
      }
      &.theme-github {
        @include md-theme-github;
      }
      &.theme-steampunk {
        @include md-theme-github;
      }
    }
  }
  
}