.files-layout-gallery {
  .image-control {
    align-self: stretch;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    .btn {
      outline: none;
      background-color: transparent;
      border: none;
      padding: 0;
      display: flex;
      align-items: center;
      .icon {
        width: 50px;
        height: 50px;
        fill: white;
      }
    }
    .frame {
      position: relative;
      height: calc(100vh - 80px);
      display: flex;
      align-items: center;
      justify-content: center;
      .thumb {
        > .file-name {
          padding-top: 10px;
          text-align: center;
        }
        .icon {
          fill: white;
        }
        .folder {
          display: flex;
          flex-direction: column;
          align-items: center;
          .folder-content {
            border: 5px solid white;
            border-radius: 15px;
            background-color: #37444d;
            padding: 15px 10px;
            height: calc(100vh - 200px);
            width: calc(100vw - 200px);
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            overflow: auto;
            .grid-item {
              padding: 5px 5px;
              margin: 5px 0;
              display: flex;
              flex-direction: column;
              align-items: center;
              &.selected {
                background-color: var(--color-chameisee);
                border-radius: 10px;
              }
              .svg-icon {
                height: 40px;
                width: 35px;
              }
              > .file-name {
                font-size: 10px;
                width: 60px;
                margin-top: 8px;
                overflow: hidden;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
          }
          > .file-name {
            padding-top: 10px;
            display: flex;
            align-items: center;
            > .icon {
              width: 20px;
              height: 20px;
              fill: white;
              margin-right: 5px;
            }
          }
        }
        
      }
      .overlay-left {
        position: absolute;
        background-color: transparent;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
      }
      .overlay-right {
        position: absolute;
        background-color: transparent;
        width: 50%;
        height: 100%;
        top: 0;
        right: 0;
        cursor: pointer;
      }
    }
  }
  .bottom-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    .dot-group {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .dot {
        border-radius: 5px;
        height: 5px;
        width: 5px;
        margin: 2px;
        background-color: white;
        border: none;
        outline: none;
        &.selected {
          background-color: var(--color-chameisee);
        }
      }
    }
  }
}
