@import '../../styles/theme.scss';

.sidebar {
  @include themed('background', 'sidebarBackground');
  @include themed('box-shadow', 'sidebarShadow');
  z-index: 1;
  flex-shrink: 0;
  padding: 0px;
  .content {
    width: var(--sidebar-width);
    padding: 10px;
    &.hide {
      display: none;
    }
  }
  .sidebar-btn {
    position: absolute;
    top: 48px;
    left: 170px;
    z-index: 10;
    &.state-false {
      @include themedMixin('hint');
      left: -15px;
      width: 40px;
      padding: 0 15px;
    }
    .icon {
      margin: 0;
      width: 23px;
      height: 23px;
    }
  }
}