@import 'common';

$stripEven: #262931;
$stripOdd: #2a2e34;
$stripBackground: repeating-linear-gradient(
  to bottom,
  #{$stripOdd},
  #{$stripOdd} 30px,
  #{$stripEven} 30px,
  #{$stripEven} 60px
);

$textEditorBackground: (
  linear-gradient(
    90deg, transparent 79px, #4d4d4d 79px, #4d4d4d 81px, transparent 81px
  ),
  linear-gradient(#363636 .1em, transparent .1em)
);

$rightPane: (
  background: #4d4d4d,
  border-left: #363636 1px solid
);

$thumbSelected: (
  background: #414449,
  border: none
);

$markdownEditor: (
  background: $black,
  color: #e2e2e2,
  border-right: 1px dashed $white
);

$contextMenu: (
  background: rgb(80, 80, 80),
  box-shadow: (0 5px 9px #242424)
);

$theme: (
  whiteColor: $white,
  blackColor: $black,
  grayColor: #595959,
  fadedColor: #161b1f32,
  highlightCOlor: black,
  textColor: $white,
  
  border: $white 1px solid,

  shadowSmall: 0 2px 5px rgba(#191b21, 0.5),
  dimBorder: #1d2027 solid 1px,
  dimBackground: #414449,

  mainBackground: $black,
  
  sidebarBackground: #21242b,
  sidebarShadow: 0px 0px 3px #191b21,

  scrollbarBackground: #21242b,
  scrollbarThumb: #414449,
  scrollbarBorder: 0px solid #f0f0f0,
  scrollbarColor: #f7f7fa #f0f0f0,

  plaintextBackground: #414449,
  gallerySlideShadow: 0 20px 50px rgba(#191b21, 0.7),

  selectedBackground: #b3bbc7,
  selectedTextColor: $black,
  
  editorBackground: $black,
  
  filenameBackground: #848991,
  topbarBackground: #414449,

  headerColor: #4f5358,
  headerBorder: #1d2027 solid 1px,
  
  textEditorBackground: $textEditorBackground,

  stripEven: $stripEven,
  stripOdd: $stripOdd,
  stripBackground: $stripBackground,

  rightPane: $rightPane,
  thumbSelected: $thumbSelected,
  markdownEditor: $markdownEditor,
  contextMenu: $contextMenu
)
