@import "../../styles/theme.scss";

.menu {
  width: 100%;
  height: #{$topbarHeight};
  padding: 0 17px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  @include themed('background', 'topbarBackground');
  @include themed('border-bottom', 'dimBorder');
  button {
    display: flex;
    background: none;
    margin: 0;
    padding: 0;
    &.disabled {
      .icon {
        fill: rgba(gray, .5);
        cursor: default;
      }
    }
  }
  .icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    cursor: pointer;
  }
  .toggle-button:first-child {
    position: absolute;
    top: 11px;
    left: -26px;
    z-index: 10;
    padding: 0;
    border-radius: 7px;
    width: 23px;
    height: 23px;
    &.state-false {
      left: -19px;
      top: 11px;
      @include themed('background', 'highlight');
      @include themed('box-shadow', 'shadow-sm');
      padding-left: 7px;
      width: 29px;
    }
    .icon {
      margin: 0;
      padding: 0;
      padding-bottom: 2px;
      padding-right: 2px;
      @include themed('fill', 'grayColor');
    }
  }
}