.folder-icon {
  &.medium {
    width: 63px;
    height: 73px;
    border-radius: 5px;
    transform: perspective(600px) rotateX(-45deg);  
  }
  &.small {
    width: 20px;
    height: 25px;
    border-radius: 2px;
    transform: perspective(600px) rotateX(-50deg);  
  }
  .theme-light & {
    background: linear-gradient(15deg, #dedede 0%, #f4f4f4 84%);
    border: solid 1px #e0e0e0;
  }
  .theme-dark & {
    background: linear-gradient(15deg, #4e4d4d 0%, #646464 84%);
    border: solid 1px #656565;
  }
}