.folder-icon {
  position: relative;
  .top-part {
    position: absolute;
    z-index: 0;
  }
  .theme-light & {
    > * {
      &.white {
        background: linear-gradient(15deg, #dedede 0%, #f4f4f4 84%);
        border: solid 1px #e0e0e0;
      }
      &.black {
        background: linear-gradient(15deg, #4e4d4d 0%, #646464 84%);
        border: solid 1px #656565;
      }
      &.glass {
        background: linear-gradient(15deg, #f8fcfe 0%, #d0eaff 84%);
        border: solid 1px #e8f2fd;
        box-shadow: 0 4px 6px #e1f2ff;
      }
      &.blue {
        background: linear-gradient(15deg, #95dcff 0%, #d0eaff 84%);
        border: solid 1px #e8f2fd;
        box-shadow: 0 6px 10px #e1f2ff;
      }
    }
  }
  .theme-dark & {
    > * {
      &.black {
        background: linear-gradient(15deg, #4e4d4d 0%, #646464 84%);
        border: solid 1px #656565;
      }
      &.blue {
        background: linear-gradient(15deg, #5eb2dd 0%, #d0eaff 84%);
        border: solid 1px #c6e1ff;
        box-shadow: 0 3px 8px #43adfe78;
      }
    }
  }
  &.large {
    .body-part {
      width: 331px;
      height: 284px;
      border-radius: 25px;
      transform: perspective(600px) rotateX(-19deg);
    }
    .top-part {
      top: -34px;
      left: 20px;
      width: 208px;
      height: 65px;
      border-radius: 25px;
    }
  }
  &.medium {
    .body-part {
      width: 63px;
      height: 73px;
      border-radius: 5px;
      transform: perspective(600px) rotateX(-45deg);  
    }
    .top-part {
      top: 2px;
      left: 2px;
      width: 50px;
      height: 20px;
      border-radius: 5px;
    }
  }
  &.small {
    .top-part {
      width: 10px;
      height: 5px;
      border-radius: 2px;
      top: 2px;
      left: 2px;
    }
    .body-part {
      width: 20px;
      height: 25px;
      border-radius: 2px;
      transform: perspective(600px) rotateX(-50deg);  
    }
    .theme-light & {
      > * {
        box-shadow: none;
        border: none;
      }
    }
    .theme-dark & {
      > * {
        box-shadow: none;
        border: none;
      }
    }
  }
  
}