.files-layout-list {
  text-align: initial;
  max-width: 80vw;
  margin: 40px auto 0 auto;
  position: relative;
  display: flex;
  justify-content: stretch;
  .column {
    flex: 1;
    &:not(:last-child) {
      border-right: 1px solid black;
    }
    .header {
      background-color: #586e75;
      display: flex;
      align-items: center;
      .label {
        padding: 5px;
        margin-right: auto;
      }
      .icon {
        margin-top: 3px;
        width: 15px;
        height: 15px;
      }
    }
    .cell {
      padding: 2px;
      margin: 1px 0;
      height: 30px;
      display: flex;
      cursor: pointer;
      list-style: none;
      color: white;
      align-items: center;
      &:nth-child(odd) {
        background-color: #80808014;
      }
      &:nth-child(even) {
        background-color: #0000000f;
      }
      &.selected {
        // border-radius: 3px;
        background-color: var(--color-chameisee);
      }
      .thumb {
        margin-right: 10px;
        position: relative;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        .preview-img {
          &.offset-1 {
            position: absolute;
            transform: rotate(-10deg);
          }
          &.offset-2 {
            position: absolute;
            transform: rotate(10deg);
          }
        }
        .svg-filetype-icon {
          height: 25px;
          width: 25px;
        }
        .icon {
          fill: white;
          height: 90%;
        }
      }
      .file-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
      }
    }
  }
}