@import "../../../styles/theme.scss";

.files-layout-list {
  $header-height: 30px;
  position: relative;
  .headers {
    display: flex;
    width: 100%;
    height: #{$header-height};
    .header {
      flex: 1;
      &:first-child {
        flex: 2;
      }
      @include themed('background-color', 'titlebarColor');
      position: relative;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        @include themed('border-color', 'black');
      }
      .label {
        padding: 5px;
        padding-left: 10px;
        margin-right: auto;
      }
      .icon {
        margin-top: 3px;
        margin-right: 6px;
        width: 15px;
        height: 15px;
      }
    }
  }
  .contents {
    position: relative;
    display: flex;
    justify-content: stretch;
    height: calc(100vh - #{$topbarHeight} - #{$header-height});
    overflow: auto;
    @include themed('background', 'stripBackground');
    .column {
      flex: 1;
      &:first-child {
        flex: 2;
      }
      .cell {
        padding-left: 7px;
        height: 30px;
        display: flex;
        cursor: pointer;
        list-style: none;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        &.date, &.size {
          font-family: "Ubuntu Mono";
        }
        &:nth-child(odd) {
          @include themed('background-color', 'stripOddColor');
        }
        &:nth-child(even) {
          @include themed('background-color', 'stripEvenColor');
        }
        &.selected {
          @include themed('background-color', 'selectedColor');
        }
        .thumb {
          margin-right: 10px;
          position: relative;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          .preview-img {
            &.offset-1 {
              position: absolute;
              transform: rotate(-10deg);
            }
            &.offset-2 {
              position: absolute;
              transform: rotate(10deg);
            }
          }
          .svg-filetype-icon {
            height: 25px;
            width: 25px;
          }
          .icon {
            height: 90%;
          }
        }
        .file-name {
          white-space: nowrap;
          text-overflow: ellipsis;
          text-align: center;
        }
      }
    }
  }
}