* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  --color-pink: #AE4951;
  --color-chameisee: #B98D72;
  --color-wineberry: #57233A;
  --color-black: #161B1F;
  --color-shadow: #161b1f32;
  --color-faded: #161b1f32;
}

.app {
  margin: auto;
}

.main {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.menu {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address-bar {
  position: relative;
  width: 60%;
}

.address-bar > input {
  outline: none;
  border: none;
  width: 100%;
  height: 24px;
  color: var(--color-black);
  padding: 4px 10px;
  border-radius: 100px;
  margin-right: 10px;
  /* opacity: 0; */
}
.address-bar-content {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  display: flex;
  align-items: center;
  background-color: white;
  color: var(--color-black);
  outline: none;
  border: none;
  width: 100%;
  padding: 4px 10px;
  border-radius: 100px;
  margin-right: 10px;
}
.address-bar-content > * {
  color: var(--color-black);
}

.path-indicator {
  margin-right: 5px;
  padding: 2px 0px;
  padding-bottom: 4px;
  user-select: none;
  cursor: pointer;
  color: var(--color-faded);
}
.path-indicator.solid {
  color: var(--color-black);
}

.menu-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  fill: white;
  margin: 0 5px;
  cursor: pointer;
}

svg.thumb {
  fill: white;
}

.image-box {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.image-frame {
  position: relative;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-height: calc(100vh - 100px);
  object-fit: cover;
  /* width: auto; */
  max-width: 85vw;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
}

.image-frame-overlay-left {
  position: absolute;
  background-color: transparent;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.image-frame-overlay-right {
  position: absolute;
  background-color: transparent;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  cursor: pointer;
}

.slide-animation {
  transition: none;
}

.files-layout-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: initial;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.grid-item .file-name {
  width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.grid-item-thumb {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item-thumb .preview-img {
  border: 5px solid transparent;
}
.grid-item-thumb .preview-img.selected {
  border: 5px solid var(--color-chameisee);
}
.grid-item-thumb .svg-filetype-icon {
  height: 80px;
  width: 80px;
  margin-left: -9px;
  margin-right: -9px;
}

.files-layout-list {
  display: inline-block;
  text-align: initial;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
.list-item-thumb {
  margin-right: 10px;
}
.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.list-item .file-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.list-item-thumb {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item-thumb .preview-img {
  border: 2px solid transparent;
}
.list-item-thumb .preview-img.selected {
  border: 2px solid var(--color-chameisee);
}
.list-item-thumb .svg-filetype-icon {
  height: 25px;
  width: 25px;
  margin-left: -9px;
  margin-right: -9px;
}

.files-layout-list li {
  list-style: none;
  color: white;
  display: flex;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
}
.files-layout-list li.selected {
  background-color: var(--color-chameisee);
}

.gallery-dot-group {
  display: inline-flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gallery-dot {
  border-radius: 5px;
  height: 5px;
  width: 5px;
  margin: 2px;
  background-color: white;
  border: none;
  outline: none;
}
.gallery-dot.selected {
  background-color: var(--color-chameisee);
}

.btn {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
}
.btn .icon {
  width: 50px;
  height: 50px;
  fill: white;
}

.error-msg {
  display: flex;
  height: calc(100vh - 50px);
  font-size: 30px;
  flex-direction: column;
  justify-content: center;
  color: white;
}
