$white: #fefefe;
$black: #282c34;

$themes: (
  light: (
    white: $white,
    black: $black,
    background: $white,
    textColor: #282c34,
    sidebarBackground: #f7f7fa,
    mainShadow: 20px 0px 83px #b5b5b5,
    navgationbarBorder: #282c34 solid 1px,
    selectedColor: #f4f4f4,
  ),
  dark: (
    white: $white,
    black: $black,
    background: $black,
    textColor: $white,
    sidebarBackground: #21242b,
    mainShadow: 20px 0px 83px #191b21,
    navgationbarBorder: transparent solid 1px,
    selectedColor: #1e2127,
  )
);

@mixin themed($key, $color) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
        #{$key}: map-get(map-get($themes, $theme-name), $color)
    }
  }
}