$white: #fefefe;
$black: #282c34;
$topbarHeight: 45px;

$themes: (
  light: (
    white: $white,
    black: $black,
    faded: #161b1f32,
    background: $white,
    textColor: #282c34,
    sidebarBackground: #f7f7fa,

    scrollbarBackground: #f0f0f0,
    scrollbarThumb: #d7d7d7,
    scrollbarBorder: 0px solid #f0f0f0,
    scrollbarColor: #f7f7fa #f0f0f0,

    mainShadow: 20px 0px 83px #b5b5b5,
    navgationbarBorder: #282c34 solid 1px,
    selectedColor: #8d8d8e,
    selectedTextColor: $white,
    titlebarColor: #c4d5db,
    stripEvenColor: #efefef,
    stripOddColor: #f4f4f4,
    stripBackground: repeating-linear-gradient(
      to bottom,
      #f4f4f4,
      #f4f4f4 30px,
      #efefef 30px,
      #efefef 60px
    )
  ),
  dark: (
    white: $white,
    black: $black,
    faded: #161b1f32,
    background: $black,
    textColor: $white,
    sidebarBackground: #21242b,
    scrollbarBackground: #21242b,
    scrollbarThumb: #414449,
    mainShadow: 20px 0px 83px #191b21,
    navgationbarBorder: transparent solid 1px,
    selectedColor: #a7a7a7,
    titlebarColor: #2b4149,
    stripEvenColor: #262931,
    stripOddColor: #2f333a,
    stripBackground: repeating-linear-gradient(
      to bottom,
      #2f333a,
      #2f333a 30px,
      #262931 30px,
      #262931 60px
    )
  )
);

@function themeVar($color) {
  @return map-get(map-get($themes, $theme-name), $color);
}

@mixin themed($key, $color) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
      #{$key}: map-get(map-get($themes, $theme-name), $color);
      @content;
    }
  }
}